body::after{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('../../assets/icons/Tick.svg');
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="checkbox"]+label:before {
  content: '';
  background-color: $white;
  border: 1px solid $gray-2;
  border-radius: 0.25rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: -0.5rem;
  transition: background-color ease-in-out 0.2s;
}

input[type="checkbox"]:checked+label:before {
  background-image: url('../../assets/icons/Tick.svg');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue-1;
}

input[type="checkbox"]+label {
  user-select: none;
}
