.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.9);

  .modal__wrapper {
    padding:0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__window {
      height: 35.625rem;
      max-width: 37.5rem;
      background-color: $white;
      border-radius: 0.5rem;
      display: flex;
      padding: 1.5rem 0;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      flex-direction: column;
      gap: 1.5rem;
      box-shadow: 0 0.5rem 2rem rgba($black, 0.15);

      @include large {
        height: 35rem;
      }

      .modal__close{
        align-self: flex-end;

        .modal__close__button {
          border: none;
          background: none;
          cursor: pointer;
        }
      }

      .modal__window__image {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .modal__window__text {
        margin-top: auto;

        .text__title {

          h2 {
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: $black;
          }
        }

        .text__description {

          p {
            font-size: 1.125rem;
            color: $gray-4;
            line-height: 1.5rem;
          }
        }
      }

      &>:not(.modal__window__image) {
        padding: 0 1.5rem;
      }
    }
  }
}
