.logo {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: $black;
  margin: 0;
}

.button {
  display: block;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.6875rem 1.5rem;
  text-decoration: none;
  font-size: 0.825rem;
  text-align: center;
}

.button--empty {
  color: $blue-1;
  background: $white;
  border: 1px solid $blue-1;

  &[disabled] {
    color: $gray-4;
    border-color: $gray-4;
  }

  &:hover:not([disabled]) {
    color: $blue-2;
    border-color: $blue-2;
  }
}

.button--filled {
  color: $white;
  background: $blue-1;
  border: 1px solid $blue-1;

  &[disabled] {
    background: $gray-4;
    border-color: $gray-4;
  }

  &:hover:not([disabled]) {
    background: $blue-2;
    border-color: $blue-2;
  }
}


.searchBox {
  position: relative;

  .searchInput {
    background-color: $white;
    border: 1px solid $gray-2;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 3rem;
    padding: 0 3rem 0 1rem;
    }

  .searchInput__button {
    position: absolute;
    right: 1rem;
    top: 0;
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.product {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 20rem;
  background-color: $white;
  border-radius: 0.5rem;
  overflow: hidden;

  &.product--empty {
    max-width: 37.5rem;
  }

  @include large {
    width: 18rem;
  }

  .product__image {
    height: 40%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      bottom: 20%;
      position: relative;

      &.product__image--disabled {
        filter: grayscale(100%);
      }
    }

    .product__image__promo {
      position: absolute;
      left: 0;
      top: 10%;
      background-color: $gold;
      color: $white;
      padding: 0.25rem 1rem;
      font-size: 0.875rem;

    }
  } //.product__image

  .product__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;

    &.product__text--centered {
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    .product__title {

      h2 {
        margin: 0;
        font-size: 1.125rem;
      }
    } //.product__title

    .product__description {
      color: $gray-4;
      font-size: 0.825rem;
    } //.product__description

    .product__rating {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.625rem;
      padding-bottom: 1.125rem;

      .star {
        height: 0.75rem;
        color: $gold;
        width: auto;
        &.star--empty {
          color: $gray-3;
        }
      }
    } //.product__rating

  } //.product__text
} //.product

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .pagination__link {
    cursor: pointer;
    text-decoration: none;

    &.pagination__link--active {
      color: $blue-1;
    }

    &.pagination__link--disabled, &[disabled] {
      color: $gray-4;
      cursor: default;
    }
  }

  .pagination__digits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

