.logo {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: $black;
  margin: 0;
}

.button {
  display: block;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.6875rem 1.5rem;
  text-decoration: none;
  font-size: 0.825rem;
  text-align: center;
}

.button--empty {
  color: $blue-1;
  background: $white;
  border: 1px solid $blue-1;

  &[disabled] {
    color: $gray-4;
    border-color: $gray-4;
  }

  &:hover:not([disabled]) {
    color: $blue-2;
    border-color: $blue-2;
  }
}

.button--filled {
  color: $white;
  background: $blue-1;
  border: 1px solid $blue-1;

  &[disabled] {
    background: $gray-4;
    border-color: $gray-4;
  }

  &:hover:not([disabled]) {
    background: $blue-2;
    border-color: $blue-2;
  }
}


.searchBox {
  position: relative;

  .searchInput {
    background-color: $white;
    border: 1px solid $gray-2;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 3rem;
    padding: 0 3rem 0 1rem;
    }

  .searchInput__button {
    position: absolute;
    right: 1rem;
    top: 0;
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
