body {
  background-color: $white;
}

header {

  .header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3.25rem 1.5rem 2rem;
    gap: 1rem;
    max-width: 1280px;
    margin: 0 auto;

    @include large {
      padding: 3.25rem 6.75rem 2rem;
      flex-wrap: nowrap;
    }

    .account {

      @include large {
        order: 5;
        margin-left: auto;
      }
    }

    .logo {
      @include large {
        margin-right: auto;
      }
    }

    .searchBox {
      flex: 0 0 100%;

      @include large {
        flex: 0 1 auto;
        max-width: 24.5rem;
        width: 100%;
      }
    } //.searchBox

    .filters {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      font-size: 0.875rem;

      input {
        margin-right: 0.5rem;
      }
    } //.filters
  } //.header__wrapper
} //header

section.products {
  background-color: $gray-1;

  .products__wrapper {
    padding: 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;

    .products__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;


    } //.products__list
  } //.products__wrapper

  .products__pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 1.25rem;
    max-width: 20rem;
    width: 100%;
    box-sizing: border-box;
  }
} //section.products